backend/generated/070a931c-1d3_n8n-rss-telegram-workflow.json
{
  "name": "RSS News to Telegram with AI Rewrite",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "id": "rss-feed",
      "name": "RSS Feed Reader",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-published",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({ hours: 2 }).toISO() }}",
              "operator": {
                "type": "date",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-new",
      "name": "Filter New Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для AI\nconst items = $input.all();\n\nreturn items.map(item => {\n  const title = item.json.title || '';\n  const link = item.json.link || item.json.guid || '';\n  const description = item.json.contentSnippet || item.json.description || '';\n  const pubDate = item.json.pubDate || '';\n  \n  return {\n    json: {\n      original_title: title,\n      original_link: link,\n      original_description: description,\n      pubDate: pubDate,\n      // Формируем промпт для AI\n      ai_prompt: `Перепиши эту новость для Telegram канала. Требования:\n1. Сделай заголовок более кликабельным и интересным\n2. Напиши краткое содержание (2-3 предложения)\n3. Добавь эмодзи для визуального оформления\n4. Используй форматирование Markdown\n5. В конце добавь ссылку на источник\n\nОригинальная новость:\nЗаголовок: ${title}\nСодержание: ${description}\n\nСсылка: ${link}`\n    }\n  };\n});"
      },
      "id": "prepare-data",
      "name": "Prepare Data for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты - опытный копирайтер для Telegram каналов. Твоя задача переписывать новости в интересном и вовлекающем формате."
            },
            {
              "role": "user",
              "content": "={{ $json.ai_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-rewrite",
      "name": "OpenAI - Rewrite News",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1050,
        300
      ],
      "notes": "Замените на ваш API ключ OpenAI в настройках credentials"
    },
    {
      "parameters": {
        "jsCode": "// Форматируем ответ от AI для Telegram\nconst items = $input.all();\n\nreturn items.map(item => {\n  const aiResponse = item.json.message?.content || item.json.choices?.[0]?.message?.content || '';\n  const originalLink = items[0].json.original_link || '';\n  \n  // Формируем финальное сообщение\n  let message = aiResponse;\n  \n  // Убеждаемся, что ссылка есть в конце\n  if (!message.includes(originalLink)) {\n    message += `\\n\\n🔗 [Читать полностью](${originalLink})`;\n  }\n  \n  // Добавляем хештеги\n  message += '\\n\\n#новости #ai';\n  \n  return {\n    json: {\n      chatId: '-1001234567890', // Замените на ID вашего канала\n      text: message,\n      parse_mode: 'Markdown',\n      disable_web_page_preview: false\n    }\n  };\n});"
      },
      "id": "format-telegram",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "={{ $json.parse_mode }}",
          "disable_web_page_preview": "={{ $json.disable_web_page_preview }}"
        }
      },
      "id": "telegram-send",
      "name": "Telegram - Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1450,
        300
      ],
      "notes": "Замените на ваш Telegram Bot Token в настройках credentials"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1450,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "-1001234567890",
        "text": "⚠️ Ошибка при публикации новости: {{ $json.error }}",
        "additionalFields": {}
      },
      "id": "error-notify",
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1650,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Feed Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Reader": {
      "main": [
        [
          {
            "node": "Filter New Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Posts": {
      "main": [
        [
          {
            "node": "Prepare Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for AI": {
      "main": [
        [
          {
            "node": "OpenAI - Rewrite News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rewrite News": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Telegram - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Send Message": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
